﻿@{
    ViewData["Title"] = "Home Page";
}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<section class="home" id="home">

    <div class="row">

        <div class="content">
            <h3>upto 25% off</h3>
            <p>Books contribute to every ones’ lives in one way or another. The impact left on us by books can begin from uplifting our mood to making us proficient in a certain field. </p>
           
            <a asp-action="Index" asp-controller="Book" class="btn">Shop Now</a>
        </div>

        <div class="swiper books-slider">
            <div class="swiper-wrapper">
                <a href="#" class="swiper-slide"><img src="/lib/image/img1.jpg" alt=""></a>
                <a href="#" class="swiper-slide"><img src="/lib/image/img2.webp" alt=""></a>
                <a href="#" class="swiper-slide"><img src="/lib/image/img3.jpg" alt=""></a>
                <a href="#" class="swiper-slide"><img src="/lib/image/img4.jpg" alt=""></a>
                <a href="#" class="swiper-slide"><img src="/lib/image/img5.jpeg" alt=""></a>
                <a href="#" class="swiper-slide"><img src="/lib/image/img6.webp" alt=""></a>
            </div>
            <img src="/lib/image/stand.png" class="stand" alt="">
        </div>

    </div>

</section>

<!-- home section ense  -->

<!-- icons section starts  -->

<section class="icons-container">

    <div class="icons">
        <i class="fas fa-shipping-fast"></i>
        <div class="content">
            <h3>free shipping</h3>
            <p>order over $100</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-lock"></i>
        <div class="content">
            <h3>secure payment</h3>
            <p>100 secure payment</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-redo-alt"></i>
        <div class="content">
            <h3>easy returns</h3>
            <p>10 days returns</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-headset"></i>
        <div class="content">
            <h3>24/7 support</h3>
            <p>call us anytime</p>
        </div>
    </div>

</section>

