﻿@model BookMart.Models.Registration

@{
    ViewData["Title"] = "Create";
}



<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               <h3>sign up </h3>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResetPassword" class="control-label"></label>
                <input asp-for="ResetPassword" class="form-control" />
                <span asp-validation-for="ResetPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*
<div class="login-form-container">

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h3>sign up </h3>
        <span>Firstname</span>
        <input type="text" name="" class="box" placeholder="enter your email" id="" asp-for="FirstName">
        <span>Lastname</span>
        <input type="text" name="" class="box" placeholder="enter your email" id="" asp-for="LastName">
        <span>Email</span>

        <input type="text" name="" class="box" placeholder="enter your email" id="" asp-for="Email">
        <span>Contact</span>

        <input type="text" name="" class="box" placeholder="enter your email" id="" asp-for="Contact">
        <span>Username</span>

        <input type="text" name="" class="box" placeholder="enter your email" id="" asp-for="UserName">

        <span asp-for="Password">password</span>
        <input type="password" asp-for="Password" name="" class="box" placeholder="enter your password" >
        <span asp-for="Password">Confirm password</span>

        <input type="password" asp-for="ResetPassword" name="" class="box" placeholder="enter your password">

     
      
        <input type="submit" value="Create" class="btn">
        <p>already have an account ? <a asp-action="Login2" asp-controller="Login">Login</a></p>
    </form> *@

</div>
<div>
    @*<a class="btn" asp-action="Index"> <i class="fas fa-arrow-left"></i> Back to List</a>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
