﻿@model IEnumerable<BookMart.Models.Books>

@{
    ViewData["Title"] = "Book";
}

<h1>Books Details</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>


<div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-2  ">
                    <div class="card mb-5 shadow-sm pb-4 " >
                        <img class="card-img-top animation-c" style="height:200px" src="~/lib/image/img2.webp" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">@item.BookName</h3>
                            <p class="card-text">@item.Introduction</p>
                            <div class="d-flex justify-content-between align-items-center">
                                  <div class="btn-group">
                                    <a asp-action="Details" asp-route-id="@item.BookId" class="btn btn-success btn-sm rounded-pill mx-2">Details</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>