﻿@model BookMart.Models.Registration
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<link rel="stylesheet" href="/css/site.css" />


@{
    ViewData["Title"] = "Login2";
}

@{
    Layout = null;
}


<div class="login-form-container">

    <form asp-action="Login2" id="login2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h3>sign in</h3>
        <span>username</span>
        <input type="text" class="box" placeholder="enter your email" id="txtusername" asp-for="UserName">
        
        <span >password</span>
        <input type="password" asp-for="Password"  class="box" placeholder="enter your password" id="txtpassword">

        <div class="checkbox">
            <input type="checkbox" name="" id="remember-me">
            <label for="remember-me"> remember me</label>
        </div>
        <input type="submit" value="sign in" class="btn">
        <p>forget password ? <a href="#">click here</a></p>
        <p>don't have an account ? <a asp-action="Create" asp-controller="Registration" >create one</a></p>
    </form>

</div>

